@import "tailwindcss";


@layer components{
  .padding-x{
    padding-left: 4%;
    padding-right: 4%;
    margin: 0 auto;
    
  }
  .padding-y{
    @apply py-8 sm:py-16
  }

  .card {
    @apply border border-slate-300 rounded-md  shadow-sm p-5 space-y-5;
  }

  .badge{
    @apply text-xs bg-zinc-100 px-2 py-1 rounded-full;
  }
}